@import "../../styles/variables";
@import "../../styles/mixins";



// [data-scroll-lock] .layout {
//   margin-right: var(--scrollbar-compensation);
// }

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // с этим не работает стики хедер. лучше использовать точечно в секциях
  // overflow: hidden;
  position: relative;
}

.main {
  flex-grow: 1;
  padding-bottom: 93px;
}
