@import "../styles/variables";
@import "../styles/mixins";


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
  color: $color-night-rider;
}

.text {
  color: $color-royal-blue;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}
