@import "../../styles/variables";
@import "../../styles/mixins";


.intro {
  padding-top: 75px;
  margin-bottom: 72px;
  width: 100%;

  @include vp-1023 {
    padding-top: 11px;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 46px;
  }

  &__img {
    margin-bottom: 18px;
    margin-top: -10px;
    margin-left: 28px;

    @include vp-1023 {
      margin-left: 0;
      margin-top: -7px;

      img {
        height: 210px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__img-users {
    margin-bottom: 24px;
  }

  &__btn-vpn {
    margin-bottom: 24px;

    @include vp-1023 {
      padding: 0 10px;
    }
  }

  &__user-reach {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 2px 11px 0 $color-transparent-black-2;
    border-radius: 16px;
    padding: 15px 135px;
    margin-bottom: 24px;

    @include vp-1023 {
      padding: 12px 4px;
      width: 92%;
      margin-bottom: 28px;
    }
  }

  &__reach-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
  }

  &__reach-item:first-child::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: #646464;
    display: block;
    right: 0;
  }

  &__reach-count {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  &__reach-description {
    font-size: 14px;
    line-height: 18px;
    display: block;
  }

  &__footer {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

    @include vp-1023 {
      text-align: center;
      max-width: 372px;
    }
  }
}

.text-color {
  color: $color-royal-blue;
}
